
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/styles/admin/angajati.css">
  <title>Document</title>
</head>
<body>
  <header>
    <div class="div-buton-inapoi">
      <a href="../" class="buton-inapoi">&#10094; INAPOI</a>
    </div>
    <nav class="nav-header">
      <ul>
        <li><a href="./">LOG</a></li>
        <li class="highlight"><a href="./angajati">ANGAJATI</a></li>
        <li><a href="./operatii">OPERATII</a></li>
        <li><a href="./utilaje">UTILAJE</a></li>
        <li><a href="./rtsp">RTSP-URI</a></li>
      </ul>
    </nav>
  </header>

  <section class="sectiune">

    <div style="display: flex; justify-content: space-between;">

      <div class="subsectiune" style="flex: 1.5;">

        <div class="div-buton-adaugare">
          <p>NUMAR ANGAJATI: <%= Angajati.length %> </p>
          <input type="text" placeholder="Cauta angajat dupa RTSP">
        </div>

        <div class="big-daddy-scroll">
          <% Angajati.forEach(angajat=> { %>
            <div class="element-meniu">
              <div class="div-stanga">
                <img src="/icons/user_icon.png">
                <div class="container">
                  <%= angajat.nume %> <br>
                    <%= angajat.pozitie %>
                </div>
              </div>
              <div class="div-dreapta">
                <img class="roata" src="/icons/cog.png">
                <button></button>

                <img class="gunoi" src="/icons/trash.png">
                <form method="POST" action="./sterge-angajat">
                  <input type="hidden" name="id" value="<%= angajat._id %>">
                  <button type="submit"></button>
                </form>
              </div>
            </div>
          <% }); %>
        </div>
      </div>

      <div class="subsectiune" style="flex: 1; margin: 3em 5em 0 0; text-align: center;">
        <form class="adauga" method="POST" action="./angajati">
          
          <label for="id">INTRODUCETI ID ANGAJAT</label>
          <input type="text" id="id" name="id" style="margin-bottom: 1rem;">
          
          <label for="nume">INTRODUCETI NUME ANGAJAT</label>
          <input type="text" id="nume" name="nume" style="margin-bottom: 1rem;">
          
          <label for="pozitie">SELECTATI PRIVILEGII ANGAJAT</label>
          <select id="pozitie" name="pozitie" style="text-align: center; margin-bottom: 1rem; font-size: 0.7em;">
            <option value="Lucrator">Lucrator - Poate completa comenzi prin scanarea fisei tehnologice</option>
            <option value="Operator">Operator - Poate initia comenzi noi si monitoriza comenzile in curs</option>
            <option value="Administrator">Administrator - Poate monitoriza si administra procesul de productie</option>
          </select>

          <div style="display: flex;">
            <label style="margin-right: 1em;" for="verificator">ANGAJATUL POATE EXECUTA <br> INSPECTII ALE COMENZILOR?</label>
            <input style="align-self: center; width: 2em; height: 2em;" type="checkbox" id="verificator" name="verificator" style="margin-bottom: 1rem;">
          </div>

          <label for="parola">INTRODUCETI PAROLA ANGAJAT <br> (PENTRU ADMINISTRATORI):</label>
          <input type="text" id="parola" name="parola" style="margin-bottom: 1rem;">

          <div class="div-buton">
            <button href="./" style="margin-right: 1rem;">ANULATI</button>
            <button type="submit">INTRODUCETI</button> 
          </div>

        </form>
      </div>

    </div>

  </section>
</body>
</html>