<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/styles/admin/index.css">
</head>
<body style="margin: 0; padding: 0;">

  <header style="width: 100%; padding: 0.75em 0.1em; display: flex; align-items: center; border: 4px solid black;">
    <div style="display: flex; text-align: center; font-size: 1.2em; padding-left: 0.8em; flex: 15%;">
      <a href="../" style="margin: 0.4em 0.6em; font-size: 1.6em; font-weight: bold;">&#10094; INAPOI</a>
    </div>
    <nav style="flex: 85%;">
      <ul style="font-size: 1.6em; display: flex; justify-content: space-between; padding: 0 5em 0 8em; list-style-type: none;">
        <li style="background-color: gray;"><a href="/admin">LOG</a></li>
        <li><a href="/admin/angajati">ANGAJATI</a></li>
        <li><a href="/admin/operatii">OPERATII</a></li>
        <li><a href="/admin/utilaje">UTILAJE</a></li>
        <li><a href="/admin/rtsp">RTSP-URI</a></li>
      </ul>
    </nav>
  </header>


  <section style="display: flex; flex-direction: column; align-items: center;">

    <div class="subsectiune" style="flex: 1.5;">
  
      <div class="div-buton-adaugare">
        <p>NUMAR ANGAJATI: 10 </p>
        <input type="text" placeholder="Cauta angajat dupa RTSP">
      </div>

      <div class="big-daddy-scroll">
        <% vectorComenziInCurs.forEach(comanda=> { %>
          <div class="element-meniu">
            <div class="div-stanga">
              <img src="/icons/user_icon.png">
              <div class="container">
                <%= comanda.Numar_comanda %>
              </div>
            </div>
            <div class="div-dreapta">
              <img class="roata" src="/icons/cog.png">
              <button></button>

              <img class="gunoi" src="/icons/trash.png">
              <form method="POST" action="./sterge-angajat">
                <input type="hidden" name="id" value="<%= comanda.Numar_comanda %>">
                <button type="submit"></button>
              </form>
            </div>
          </div>
        <% }); %>
      </div>
    </div>
  </section>

</body>
</html>