<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/styles/operator/index.css">
  <title>Operator</title>
</head>

<body>

  <header>
    <div class="div-buton-inapoi">
      <a href="../" class="buton-inapoi">&#10094; INAPOI</a>
    </div>
    <p>GESTIONARE COMENZI</p>
    <button onClick="window.location.href = 'http://localhost:3000/operator/comanda-noua';">INCEPE COMANDA +</button>
  </header>

  <div class="corp">

    <section class="lista" style="width: 55%">

      <% comenziInCurs.forEach(comanda=> { %>
        <div class="element">
          <div class="div-stanga">
            COMANDA NR. <%= comanda.Numar_comanda %>
          </div>
          <div class="div-dreapta">
            IN LUCRU
            <img src="/icons/in-lucru.png">
          </div>
        </div>
      <% }); %>

      <% comenziFinalizate.forEach(comanda=> { %>
        <div class="element">
          <div class="div-stanga">
            COMANDA NR. <%= comanda.Numar_comanda %>
          </div>
          <div class="div-dreapta">
            FINALIZATE
            <img src="/icons/finalizat.png">
          </div>
        </div>
      <% }); %>

    </section>

    <section class="meniu-adaugare" style="width: 40%">

    </section>

  </div>

</body>

</html>