

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="styles/angajat/index.css">
  <title>Bun venit!</title>
  <script>
    window.addEventListener('DOMContentLoaded', (event) => {
      var inputElement = document.getElementById('myInput');
      inputElement.focus();
      inputElement.select();
    })
  </script>
</head>
<body>
    <div class="outer-container">
    
      <form class="form-comanda" method="POST" action="./angajat">

        <p class="salut">BUNA DIMINEATA, <%= nume%> !</p>

        <label for="idComanda">SCANEAZA CODUL DE BARE <br> AL COMENZII PENTRU A INCEPE</label>
        <img src="icons/scanner.png">
        <input type="text" id="myInput" name="idComanda" placeholder="NUMARUL COMENZII">

        <input type="hidden" name="idAngajat" value="<%= idAngajat %>">

        <div style="display: flex;">
          <button type="button" style="margin-right: 1rem;" onclick="window.location.href = '/'" >ANULATI</button>
          <button type="submit">INTRODUCETI</button>
        </div>

      </form>

    </div>

</body>
</html>