
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Selectati Piesa</title>
</head>
<body style="margin-top:2em; margin-bottom: 1em; display: flex; flex-direction: column; align-items: center;">
  <p style="font-size: 20px;"> SELECTATI PIESA DIN COMANDA SCANATA </p>

  <div style="display: flex; flex-direction: column; align-items: center;">
    <% pieseComandaCurenta.forEach(piesa => { %>
      <form style="margin-bottom: 1em;" method="POST" action="./selectie-operatii">
        <input type="hidden" name="idAngajat" value="<%= idAngajat %>">
        <input type="hidden" name="idPiesa" value="<%= piesa._id %>">
        <input type="hidden" name="idComanda" value="<%= idComanda %>">
        <button style="width: 10em; height: 3em; font-size: 20px;"><%= piesa.nume %></button>
      </form>
    <% }); %>
  </div>

</body>
</html>